* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

:root {
  --color-primary: #007bff;
  --color-black: #000;
  --color-white: #fff;
}

.container {
  max-width: 500px;
  background-color: red;
  margin: 0 auto;
}

.fw-medium {
  font-weight: 500;
}

.fw-semibold {
  font-weight: 600;
}

.fw-bold {
  font-weight: bold;
}

/* Display */
.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}

.gap-1 {
  gap: 4px;
}
.gap-2 {
  gap: 8px;
}

/* Margins and Padding */
.mt-1 {
  margin-top: 4px;
}

.mt-2 {
  margin-top: 8px;
}
.mt-3 {
  margin-top: 12px;
}

.cursor-pointer {
  cursor: pointer;
}

.w-full {
  width: 100%;
}
