@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

a:focus,
button:focus {
  outline: none;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  overflow-y: visible;
}

:root {
  --color-primary: #007bff;
  --color-black: #2b2c39;
  --color-white: #fff;
  --color-gray: #8c8c8c;
  --color-gray-bg: #eeeeef;
  --color-success: #2a7e6a;
  --color-danger: #e74c3c;
  --color-border: #c6c6c8;
}

#mainWrapper {
  min-height: 100vh;
  width: 100%;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  min-height: 100vh;
  padding-bottom: env(safe-area-inset-bottom);
}

/* Font Weights */
.fw-medium {
  font-weight: 500;
}

.fw-semibold {
  font-weight: 600;
}

.fw-bold {
  font-weight: bold;
}

/* Display */
.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

.d-inline-flex {
  display: inline-flex;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}

.gap-1 {
  gap: 4px;
}
.gap-2 {
  gap: 8px;
}

/* Margins and Padding */
.mt-1 {
  margin-top: 4px;
}

.mt-2 {
  margin-top: 8px;
}
.mt-3 {
  margin-top: 12px;
}
.mt-6 {
  margin-top: 24px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.pb-1 {
  padding-bottom: 4px;
}

/* Width and Height */
.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.h-dvh-60 {
  max-height: calc(100dvh - 60px);
}

/* Text Colors */

.text-black {
  color: var(--color-black);
}

.text-gray {
  color: var(--color-gray);
}

.text-success {
  color: var(--color-success);
}

.text-danger {
  color: var(--color-danger);
}

.text-gray {
  color: var(--color-gray);
}

/* Background Colors */
.bg-black {
  background-color: var(--color-black);
}
.bg-white {
  background-color: var(--color-white);
}
.bg-primary {
  background-color: var(--color-primary);
}
.bg-gray {
  background-color: var(--color-gray);
}

/* Text Alignment */
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

/* Font Sizes */
.fs-24 {
  font-size: 24px;
}
.fs-20 {
  font-size: 20px;
}
.fs-18 {
  font-size: 18px;
}
.fs-16 {
  font-size: 16px;
}
.fs-14 {
  font-size: 14px;
}
.fs-12 {
  font-size: 12px;
}

/* Others */
.whitespace-nowrap {
  white-space: nowrap;
}

.cursor-pointer {
  cursor: pointer;
}

/* Position */

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}

.sticky-top {
  position: sticky;
  top: 0;
}

/* Component Styles */

.scroller-x {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scroller-x::-webkit-scrollbar {
  display: none;
}
