/* Menubar */
.menubar {
  border-top: 1px solid #ccc;
  position: fixed;
  bottom: 0;
  padding: 5px 0px 16px 0px;
  justify-content: space-between;
  left: 50%;
  transform: translateX(-50%);
  max-width: 500px;
}

.menu-item {
  font-size: 12px;
  width: 20%;
}

.menu-item .icon svg {
  width: 28px;
  height: 28px;
  object-fit: contain;
}

.menu-item .icon svg path {
  /* stroke: var(--color-black); */
}

.menu-item.watchlist .icon svg path {
  fill: transparent;
  stroke: var(--color-black);
  stroke-width: 6px;
}

.menu-item.active .icon svg path {
  fill: var(--color-black);
  stroke-width: 0px;
}
